/* Global Styling */

body {
    font: 15px/1.5 'Roboto', Helvetica, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
}

li:hover a {
    color: #367F97;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    text-decoration: none;
}

mark {
    background-color: #173843;
    color: #FFF;
}

/* Header Styling */

#header {
    padding: 3rem 15rem 3rem 15rem;
    background-color: #FFF;
}

hr {
    opacity: 0.75;
    border-width: 0.1
}

h1 {
    color:#367F97;
}

.card-header {
    background-color: #FFF;
    border-width: 0 0 0.25rem 0;
    color: #367F97;
}

svg {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
}

svg:click {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  } 
