/* Global Styling */

body {
    font: 15px/1.5 'Roboto', Helvetica, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
}

li:hover a {
    color: #367F97;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    text-decoration: none;
}
/* Header Styling */

#header {
    padding: 3rem 15rem 3rem 15rem;
    background-color: #FFF;
}

b, h1, h3 {
    color: #367F97;
}

/* Global */

hr {
    color:#367F97;

}

#recTwo {
    transform: translate(55%, 10%);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 52.8vw;
}

#icons3 {
    font-size:100px;
    color: #367F97;
    opacity: 0.6;
    padding: 0 0 3rem 12rem;
}

#icons3 {
    font-size:100px;
    color: #367F97;
    opacity: 0.6;
    padding: 0 0 0 7.7rem;
}

.card {
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
}