/* Global Styling */

body {
    font: 15px/1.5 'Roboto', Helvetica, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
}

li:hover a {
    color: #367F97;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    text-decoration: none;
}

/* Header Styling */

#header {
    padding: 3rem 15rem 3rem 15rem;
    background-color: #FFF;
}

b, h1, h3 {
    color: #367F97;
}

/* Global */

hr {
    color:#367F97;

}

#recTwo {
    transform: translate(30%, 5%);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 52.8vw;
}

#icons3 {
    font-size:100px;
    color: #367F97;
    opacity: 0.6;
    padding: 0 0 3rem 12rem;
}

#icons3 {
    font-size:100px;
    color: #367F97;
    opacity: 0.6;
    padding: 0 0 0 7.7rem;
}

.card {
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
}

.btn-info {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    color: #FFFF;
    letter-spacing: 1px;
    line-height: 15px;
    border: 1px solid #78c639;
    border-radius: 40px;
    background: #78c639;
    transition: all 0.3s ease 0s;
}

.btn-card {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    color: #367F97;
    letter-spacing: 1px;
    line-height: 15px;
    border: 1px solid #367F97;
    border-radius: 40px;
    background: #FFF;
    transition: all 0.3s ease 0s;
}

.svg-clipped {
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
}

.svg-clipped1 {
    -webkit-clip-path: url(#svgPath1);
    clip-path: url(#svgPath1);
}

.svg-clipped2 {
    -webkit-clip-path: url(#svgPath2);
    clip-path: url(#svgPath2);
}